html {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: $font-size;
  font-weight: 600;
  line-height: normal;
  min-height: 100%;
  position: relative;
  background: {
    color: #872aac;
    image: url('./../images/space.jpg');
    size: cover;
    position: center;
    repeat: no-repeat;
  }
}

#app {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: $font-size;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}
